* {
    box-sizing: border-box;
}

.card{
    background-color: #ccc;
    border-radius: 8px;
}

#total {
    background-color: #142A3C;
}

#sale {
    background-color: #215475;
}

#rental {
    background-color: #f66B0C;
}

h1, p {
    color: white;
}