* {
    box-sizing: border-box;
}

.card {
    color: rgb(20, 41, 58);
    font: 18px/1.55 'Poppins',sans-serif;
    font-weight: 900;
}

.card p {
    color:rgba(20, 41, 58, 0.8);
}

.card a {
    color: #FF5D00;
    text-decoration: none;
}

.card a:hover{
    color:rgb(20, 41, 58);
}

.card a:active{
    color:rgba(20, 41, 58, .5);
}

.card h1 {
    font-size: 1.75em;
    font-weight: 900;
}

p span {
    font: .75em/1.8 700;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}