* {
    box-sizing: border-box;
}

.wrapper {
    /* Don't worry about what flex means. */
    /* It's simply here for demo purposes. */
    display: flex;
    gap: 1rem;
}

.widget {
    width: 100%;
    min-width: 300px;
    max-width: 400px;
}

.widget a {
    background-color: bisque;
}

.widget a img {
    height: 1rem;
}

.widget img {
    width: 3rem;
}

.widget p img {
    width: 1.75rem;
}